PORT=3000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/brixen_db?schema=public"

ADMIN_EMAIL=admin@brixen.com
ADMIN_PASSWORD=change-me

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
